.container {
  position: relative;
  width: 450px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5px;
}

.win {
  background-color: #0de14c55;
}

.lose {
  background-color: #ef6f6f55;
}

.container > table {
  color: #eeeeee;
}

.head {
  font-size: 2.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 300px;
    font-size: 1.5rem;
  }

  .head {
    font-size: 2rem;
  }
}
