.container {
  max-width: 400px;
  margin: 0 auto;
}

.hangmanSvg {
  display: block;
  margin: 0 auto;
}

.pathPulse {
  animation: pulse 3s;
}

@keyframes pulse {
  0% {
    fill: #fa2424;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 1));
  }

  70% {
    fill: #fcc0c0;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
  }

  100% {
    fill: #ffffff;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 150px;
  }
}
