/* ****************************************************************************
***** global styles
**************************************************************************** */
@font-face {
  font-family: 'StruggleLine';
  src: url('./assets/font/StruggleLine.otf') format('opentype');
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  color: #eeeeee;
  font-family: 'StruggleLine', cursive;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body > div {
  display: flex;
  position: relative;
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(./assets/img/chalkboard.jpg);
  background-size: cover;
}

header {
  background-color: transparent;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); */
  color: #eeeeee;
  text-align: center;
}

header > h3 {
  line-height: 50px;
}

main {
  display: flex;
  min-width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  background-color: transparent;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  /* box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25); */
  color: #eeeeee;
  text-align: center;
}

footer > p {
  line-height: 50px;
}

input {
  font-family: inherit;
  text-transform: uppercase;
}
